@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --black: #07151b;
  --radius: 0.625rem;
  --pink: #eb4a98;
  --yellow: #ffd944;
  --green: #6ec065;
  --orange: #f26852;
  --blue: #31a8e0;
  --purple: oklch(54.1% 0.281 293.009);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-pink: var(--pink);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-purple: var(--purple);
  --font-sans: var(--font-montserrat);
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-auto px-6 xl:px-0 w-full;
  }
}

body {
  background: #07151b;
  font-family: var(--font-montserrat), sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
